body {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px 110px 0px 0px;
    min-width: 300px;
    height: 50px;
}

.navbar li {
    list-style-type: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #C9E949;
}

.firstsection {
    display: flex;
    flex-direction: column; 
    height: 650px;
}

.headerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 0 6% 0 0;
}

.textsection {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
}

.textsection__lineone {
    border-left: 1px solid #C9E949;
    margin: 50px 0 0 60px;
    height: 150px;
}

.textsection__linetwo {
    border-left: 1px solid #C9E949;
    margin: 70px 0 0 60px;
    height: 70px;
}

.textsection h1 {
    margin-left: 60px;
    height: 50px;
    width: 200px;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0em;
    color: #C9E949;
}

.textsection p {
    margin: 70px 0 0 60px;
    height: 50px;
    width: 300px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;    
    color: #C9E949;
}

.video {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: rgb(139, 98, 98);
}

.secondsection {
    display: flex;
    height: 585px;
}

.textmain {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
    height: 585px;
}

.secondsection__linethree {
    display: flex;
    border-top: 1px solid #C9E949;
    margin: 50px 0 0 15px;
    width: 750px;
}

.secondsection__texts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
}

.secondsection__one {
    display: flex;
    width: 219px;
    height: 280px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    color: #C9E949;
}

.secondsection__two {
    display: flex;
    width: 219px;
    height: 280px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    color: #C9E949;
}

.secondsection__three {
    display: flex;
    width: 219px;
    height: 280px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    color: #C9E949;
}

.secondsection__line {
    display: flex;
    border-right: 1px solid #C9E949;
    height: 225px;
}

.secondsection__linefour {
    display: flex;
    border-top: 1px solid #C9E949;
    margin: 100px 0 0 0;
    width: 750px;
}

















