body {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    position: relative;
    top: 20px;
    justify-content: space-between;
    margin: 30px 110px 0px 0px;
    width: 300px;
    height: 50px;
}

.navbar li {
    list-style-type: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #C9E949;
}

.firstsection {
    display: flex;
    flex-direction: column; 
    height: 650px;
    width: 100%;
}

.headerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
}

.textsection {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.textsection__lineone {
    display: flex;
    border-left: 1px solid #C9E949;
    margin: 50px 0 0 18%;
    height: 150px;
}

.textsection__linetwo {
    display: flex;
    border-left: 1px solid #C9E949;
    margin: 32px 0 0 18%;
    height: 70px;
}

.textsection h1 {
    display: flex;
    margin-left: 18%;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0em;
    color: #C9E949;
    margin-block-end: 0;
    margin-top: 32px;
}

.textsection p {
    display: flex;
    margin: 32px 0 0 18%;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;    
    color: #C9E949;
}

.video {
    display: flex;
    width: 62%;
    margin-right: 5%;
    margin-top: 45px;
    margin-left: 1%;
}

.secondsection {
    display: flex;
    height: 450px;
    width: 100%;
}

.textmain {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    width: 65%;
    height: 450px;
}

.secondsection__linethree {
    display: flex;
    border-top: 1px solid #C9E949;
    margin: 0 5% 0 5%;
    max-width: 750px;
}

.secondsection__texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 1%;
    margin-bottom: 150px;
}

.secondsection__one {
    display: flex;
    width: 28%;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C9E949;
}

.secondsection__two {
    display: flex;
    width: 28%;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C9E949;
}

.secondsection__three {
    display: flex;
    width: 28%;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C9E949;
}

.secondsection__line {
    display: flex;
    margin-right: 15px; 
    margin-left: 15px;
    border-right: 1px solid #C9E949;
    height: 200px;
}

.thirdsection {
    display: flex;
    align-items: center;
    max-height: 600px;
    max-width: 100%;
    background-color: black;
}

.picturesmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picturesmain__first {
    display: flex;
    border-radius: 20px;
    margin-left: 7%;
    max-height: 500px;
    width: 50%;
}

.picturesmain__first img {
    width: 100%;
    border: 1px solid #C9E949;
    border-radius: 20px;
}

.picturesmain__column {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    max-height: 540px;
    width: 53%;
}

.picturesmain__second img {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
    border: 1px solid #C9E949;
    border-radius: 20px;
}

.picturesmain__third img {
    display: flex;
    width: 80%;
    border: 1px solid #C9E949;
    border-radius: 20px;
}

.foursection {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
}

.foursection__line {
    display: flex;
    border-top: 1px solid #C9E949;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.foursection__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
    max-height: 300px;
    width: 81%;
}

.foursection__picture{
    display: flex;
    width: 45%;
}

.foursection__picture img {
    height: 100%;
    width: 100%;
}

.foursection__lineone {
    display: flex;
    height: 200px;
    width: 1px;
    margin-left: 5%;
    background-color: #C9E949;
}

.foursection__linetwo {
    display: flex;
    height: 200px;
    width: 1px;
    margin-left: 5%;
    background-color: #C9E949;
}

.foursection__linethree {
    display: flex;
    height: 200px;
    width: 1px;
    margin-left: 5%;
    background-color: #C9E949;
}

.fivesection {
    display: flex;
    flex-direction: column;
    max-height: 650px;
    width: 100%;
}

.fivesection__picture {
    display: flex;
    margin: 0 auto;
    padding-top: 4%;
    max-height: 486px;
    width: 90%;
}

.fivesection__picture img {
    max-width: 100%;
    max-height: 100%;
}

.fivesection__line {
    display: flex;
    height: 1px;
    max-width: 400px;
    background-color: #C9E949;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

@media (max-width: 1140px) {
    .video {
        width: 55%;
        margin-top: 0;
    }

    .textsection {
        margin-top: 150px;
    }

    .textsection__lineone {
        display:  none;
    }

    .textsection__linetwo {
        display: none;
    }
}

@media (max-width: 900px) {
    .firstsection {
        height: 550px;
        margin-bottom: 20px;
    }

    .headerbottom {
        flex-direction: column;
        justify-content: none;
    }

    .textsection {
        width: 90%;
        margin-top: 50px;
    }

    .textsection h1 {
        margin-left: 0;
        margin: 0 auto;
    }

    .textsection p {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .video {
        width: 57%;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    .video {
        width: 70%;
    }
}





































